
.body123{
    background-image: none;
    padding-bottom: 20px;    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.fOnt{
    font-size: 20;
}
.itemm{
    margin-right: 5px;
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: #d3232a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;

}
.itemm span{
    font-weight: 600;
    font-size: 20px;
    margin-top: 12px;

}